* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 750px;
    max-width: 10rem;
    height: 1.333333rem;
    margin: auto;
    font-size: .24rem;
    border-left: 1px solid forestgreen;
    border-right: 1px solid forestgreen;
}